@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html,
body {
    font-size: 10px;
    color: black;
    overflow-x: hidden;
}

.display-contant {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 5rem;
}

.display-contant .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.display-contant .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.display-contant .right .text {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.display-contant .right .text h1 {
    font-size: 5rem;
    position: relative;
}

.display-contant .right .text h1::after {
    content: "!";
    color: red;
    font-size: 5rem;
    position: absolute;
}

.display-contant .right .text p {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.display-contant .right .text a {
    display: inline-block;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.display-contant .right .text a:hover {
    background-color: white;
    color: black;
    border: 0.3rem solid black;
}

/* meadia quari 768px */
@media screen and (max-width: 768px) {
    .display-contant {
        padding: 2rem;
    }

    .display-contant .left {
        display: none;
    }

    .display-contant .right {
        width: 100%;
    }

    .display-contant .right .text h1 {
        font-size: 3rem;
    }

    .display-contant .right .text h1::after {
        font-size: 3rem;
    }

    .display-contant .right .text p {
        font-size: 1rem;
    }

    .display-contant .right .text a {
        font-size: 1.5rem;
    }

}

/* meadia quari 480px */
@media screen and (max-width: 480px) {
    .display-contant .right .text h1 {
        font-size: 2rem;
    }

    .display-contant .right .text h1::after {
        font-size: 2rem;
    }

    .display-contant .right .text p {
        font-size: 1rem;
    }

    .display-contant .right .text a {
        font-size: 1.5rem;
    }

}

/* meadia quari 967px */
@media screen and (max-width: 967px) {
    .display-contant .left {
        display: none;
    }

    .display-contant .right {
        width: 100%;
    }

    .display-contant .right {
        width: 100%;
    }

    .display-contant .right .text h1 {
        font-size: 4rem;
    }

    .display-contant .right .text h1::after {
        font-size: 3rem;
    }

    .display-contant .right .text p {
        font-size: 2rem;
    }

    .display-contant .right .text a {
        font-size: 1.5rem;
    }

}

/* secound page */

.nav-designs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: black;
    color: white;
    width: 100%;
}

.nav-designs img {
    width: 10rem;
    cursor: pointer;
}

.nav-designs h1 {
    text-align: center;
    font-size: 2rem;

}

.nav-designs .lef {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    overflow: hidden;
}

.search-box input {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    outline: none;
}

.search-box i {
    position: absolute;
    right: 2%;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.dowlond button {
    color: WHITE;
    height: 50px;
    background-color: transparent;
    width: 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 1rem;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-designs {
        padding: 2rem;
    }

    .nav-designs h1 {
        display: none;
    }

    .search-box {
        width: 20rem;
    }

    .search-box input {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    .search-box i {
        padding: 1rem 1rem;
    }

}

@media screen and (max-width: 480px) {
    .nav-designs {
        height: 10vh;
    }

    .nav-designs h1 {
        font-size: 1rem;
    }

    .search-box {
        width: 15rem;
    }

    .search-box input {
        height: 2rem;
        padding: 1rem 0.5rem;
        font-size: 0.8rem;
    }

    .search-box img {
        width: 0.6rem;
    }

    .search-box i {
        display: flex;
        padding: 1rem 0.5rem;
        align-items: center;
        height: 1rem;
    }

}

.rules-box {
    height: 5vh;
    background-color: rgba(128, 128, 128, 0.253);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.rules-box a {
    text-decoration: none;
    color: black;
    gap: 1rem;
}

.roules {
    height: 83.3vh;
    position: relative;
}

.roules-text {
    font-size: 1.5rem;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.roules-text h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.roules-text h1::after {
    content: ":";
    color: red;
    font-size: 3rem;
}

.roules-text p {
    font-size: 2rem;
}

.templates-box {
    height: 83.3vh;
    padding: 5rem 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.box {
    background-color: #f0f0f0;
    padding: 1rem 5rem;
    border-radius: 20px;
}

.box a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 2rem 3.5rem;
}

.box .box-img {
    width: 80%;
    height: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box .box-img img:hover {
    scale: 1.1;
}

.box button {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.4rem;
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 5px 30px;
    background-color: black;
    /* margin-left: 14%; */
    color: white;
    margin: 12px auto;
}

@media screen and (max-width: 768px) {
    .templates-box {
        padding: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .box a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .templates-box {
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .box a {
        font-size: 0.8rem;
    }
}

.page {
    color: black;
    height: 100vh;
    width: 40vw;
    margin: 2rem auto;
    border: 1px solid black;
    box-shadow: 5px 5px 20px rgba(82, 29, 29, 0.1);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 90%;
    background-color: red;
    color: white;
}

.topdiv {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
}

.details {
    height: 10%;
    width: 100%;
    padding: 20px 50px;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.dots::after {
    content: ':';
    color: red;
    margin-right: 5px;
}

.personal {
    height: 20%;
    width: 100%;
    padding: 20px 30px;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.heading {
    text-decoration: underline;
}
.heading::after{
    content: ':';
    color: red;
    margin-right: 5px;  
}

.Objective{
    height: 15%;
    width: 100%;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 20px 30px;
}
.paragraph{
    font-size: 1.3rem;
    font-weight: 200;
    margin-left: 20px;
    position: relative;
}
.paragraph::after{
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    bottom: 8px;
    margin-left: 4px;
}
.WorkingExperience{
    height: 15%;
    width: 100%;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 20px 30px;
}

.Activities{
    height: 15%;
    width: 100%;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 20px 30px;
}
.interest{
    height: 10%;
    width: 100%;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 20px 30px;
}